button.StripeCheckout {
  background: white !important;
  color: #1b1f22 !important;
  font-weight: 600 !important;
  line-height: calc(2.75rem - 2px) !important;

  border-radius: 4px !important;
  border: 0 !important;
  box-shadow: inset 0 0 0 1px white !important;
  cursor: pointer !important;
  display: inline-block !important;
  height: 2.75rem !important;
  letter-spacing: 0.2rem !important;
  outline: 0 !important;
  padding: 0 1.25rem 0 1.35rem !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;

  &:active {
    background: darken(white, 15%) !important;
  }

  span,
  span:active {
    background: inherit !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #1b1f22 !important;
    font-weight: 600 !important;
    line-height: calc(2.75rem - 2px) !important;
    display: inline !important;
    font-size: 0.8rem !important;
    font-family: "Source Sans Pro", sans-serif !important;
  }
}